fastapi==0.104.1
uvicorn==0.24.0.post1
gunicorn==22.0.0
httpx==0.25.0
python-dotenv==1.0.1

PyMuPDF==1.23.21
python-docx==1.1.0
requests==2.32.3

SQLAlchemy==2.0.31
psycopg2-binary==2.9.9

google-generativeai==0.10.0
pinecone-client==3.2.2
sentence-transformers==3.0.1
torch==2.5.0

pydantic==1.10.17
tenacity==8.2.3
typing-extensions==4.12.0